<?xml version="1.0" encoding="utf-8"?>
<!--
  Author: Arie Kraayenbrink
  Date:   February 2019  
-->



<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="DBaseDIR" value=".//DBase" />
    <add key="BillCodeFile" value="MasterSample.txt" />
    <add key="BillExpFile" value="BillingExport.txt" />
    <add key="BillRespFile" value="ResponseSample.txt" />
    <add key="userID" value="abacus" />
    <add key="connectionStr" value="Server=tcp:abacus-ems2.database.windows.net,1433;Initial Catalog=EMS2;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.SqlServer.TransactSql.ScriptDom" publicKeyToken="89845dcd8080cc91" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>



</configuration>
