<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ems_mobileapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mapmark"
        android:label="EMS Mobile"
        android:roundIcon="@drawable/mapmark"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.example.ems_mobileapplication.NotificationService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".apptScheduledCheckIn" />
        <activity android:name=".noApptCheckIn" />
        <activity android:name=".book_appt_activity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>